* {
  padding: 0;
  margin: 0;
}

.container {
  width: 70vw;
  height: 66vh;
  margin: 2vw auto;
  background: #6D7993;
  color: white;
  font-family: Arial;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

header, footer {
  width: 100%;
  margin: 10px;
  color: #c8db18;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer {
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  margin-left: 10px;
}

main {
  display: none;
  background-color: #6D7993;
  height: 80%;
  width: 100%;
}

.section {
  background-color: #6D7993;
  width: 60%;
  margin: 5px auto;
}

.usersAndChannels {
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  width: 35%;
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  margin: 5px auto;
}

.items {
  box-sizing: border-box;
  height: 90%;
  list-style: none;
  padding: 20px;
  background-color: #96858F;
  border-radius: 0 0 5px 5px;
} 

ul.tabs {
  background-color: #6D7993;
  width: 100%;
  height: 10%;
  list-style: none;
  overflow: hidden;
  display: flex;
}

ul.tabs li {	
  float: left;
  flex-grow: 1;
}

ul.tabs li a {
  position: relative;
  display: block;
  height: 35px;
  margin-top: 10px;
  padding: 10px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;	
  text-decoration: none;
  background: #D5D5D5;
  color: #96858F;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	   -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
       -moz-transition: padding 0.2s ease, margin 0.2s ease;
         -o-transition: padding 0.2s ease, margin 0.2s ease;
        -ms-transition: padding 0.2s ease, margin 0.2s ease;
            transition: padding 0.2s ease, margin 0.2s ease;
}

.tabs li:first-child a {
  z-index: 3;
  -webkit-border-top-left-radius: 8px;
      -moz-border-radius-topleft: 8px;
          border-top-left-radius: 8px;
}

.tabs li:nth-child(2) a {
  z-index: 2;
}

.tabs li:last-child a {
  z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
          box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topright: 8px;
          border-top-right-radius: 8px;
}

ul.tabs li a:hover {
  margin: 5px 0 0 0;
  padding: 20px 0 5px 0;
}

ul.tabs li a.active {
  margin: 0;
  padding: 15px 0 15px;
  background: #9099A2;
  color: white;
  z-index: 4;
}

/* .chatNavigation:before,
.chatNavigation:after {
    content: " "; 
    display: table; 
} 

.chatNavigation:after {
  clear: both;
} */

.chatMainWindow {
  height: 65%;
}

.chatConv {
  overflow-y: scroll;
  height: 100%;
  background: #9099A2;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
          box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
}


p {
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  color: #fff;
  line-height: 26px;
  font-size: 18px;
}  

#chatroom2, #chatroom3 {
  display: none;
}

#channelsList {
  display: none;
}

.chatInput {
  /* padding: 10px 0; */
}

#messageToSend {
  box-sizing: border-box;
  background-color: #D5D5D5;
  width: 100%;
  border: none;
  padding: 10px;
  font: 14px/22px Arial, sans-serif;
  border-radius: 0 0 8px 8px;
  resize: none;
}

#sendBtn {
  float: right;
  color: #c8db18;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #6D7993;
  margin: 5px 5px 0 0;
}

/* .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} */


.usersAndChannels .tabs li {
  width: 50%;
}

.usersAndChannels .tabs li a.active {
  background-color: #96858F;
}

img {
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 20px;
}

.userInfo, .channelInfo {
  float: left;
}

.user {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

.channel {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.login {
  background: #6D7993;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  box-sizing: border-box;
  background: #FFFFFF;
  height: 50%;
  width: 35%;
  padding: 5%;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  font-size: 0.9em;
}

.form button {
  width: 100%;
  text-transform: uppercase;
  outline: 0;
  background: #c8db18;
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
  padding: 15px;
  color: rgb(102, 111, 131);
  font-size: 0.9em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #aabb14;
}

.form .message {
  color: #b3b3b3;
  font-size: 0.7em;
}

.form .message a {
  color: #6D7993;
  text-decoration: none;
}


@media screen and (min-width: 481px) and (max-width: 800px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  .section {
    width: 70%;
  }
  .usersAndChannels {
    width: 25%;
  }
  ul.tabs {
    height: 7%;
  }
  .chatConv {
    height: 77%;
  }
  .chatInput {
    width: 98vw;
  }
  .usersAndChannels {
    height: 83%;
  }
  .items {
    padding: 20px 10px;
  }
  img {
    width: 25px;
    height: 25px;
  }
  .status {
    display: none;
  }
  .form {
    height: 35%;
    width: 60%;
    padding: 5%;
  }
  .form button {
    margin-top: 20px;
  }
}


@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 0;
  }
  ul.tabs {
    height: 11%;
  }
  .chatMainWindow {
    height: 70%;
  }
  .chatConv {
    height: 98%;
  }
  .usersAndChannels{
    margin-right: -98%;
    width: 98%;
    height: 95%;
    z-index: 999;
    margin-top: 5%;
    box-shadow: none;
  }
  .slideCenter, .slideRight {
            transition: margin-right .6s ease-in;
    -webkit-transition: margin-right .6s ease-in;
  }
  .slideCenter {
    margin-right: 1%;
  }
  .slideRight {
    margin-right: -98%;
  }
  .section {
    width: 98%;
    margin: 2% 1%;
    transition-property: all;
    transition-duration: 0.6s;
  }
  .chatInput {
    width: 100%;
  }
  .sendBtn {
    margin-top: 5px;
  } 
  ul.tabs li a {
    padding-bottom: 5px;
  }
  ul.tabs li a.active {
    padding-bottom: 20px;
  }
  .form {
    height: 50%;
    width: 80%;
    padding: 7%;
  }
  .form button {
    margin-top: 30px;
  }
  .mobileMenu {
    position: absolute;
    display: none; 
    top: 10px;
    right: 10px; /* "#menu width" */
    background: rgb(92, 103, 128);
    font-size: 14px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.2em 1.6em;
    border-radius: 5px;
  }
  .mobileMenu:hover,
  .mobileMenu:focus {
      background: rgb(92, 103, 128);
  }
  .mobileMenu span {
    position: relative;
    display: block;
  }
  .mobileMenu span,
  .mobileMenu span:before,
  .mobileMenu span:after {
    background-color: #c8db18;
    width: 100%;
    height: 0.2em;
  }
  .mobileMenu span:before,
  .mobileMenu span:after {
    position: absolute;
    margin-top: -0.6em;
    content: "";
  }
  .mobileMenu span:after {
    margin-top: 0.6em;
  }
}