* {
  padding: 0;
  margin: 0;
}

.container {
  width: 70vw;
  height: 66vh;
  margin: 2vw auto;
  background: #6D7993;
  color: white;
  font-family: Arial;
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  margin: 10px;
  color: #c8db18;
}

section {
  width: 42vw;
  margin-left: 10px;
}

ul.tabs {
  width: 42vw;
  height: 50px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

ul.tabs li {	
  float: left;
  width: 14vw;
}

ul.tabs li a {
  position: relative;
  display: block;
  height: 35px;
  margin-top: 10px;
  padding: 10px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;	
  text-decoration: none;
  color: black;
  background: #96858F;
  color: #D5D5D5;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	   -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
       -moz-transition: padding 0.2s ease, margin 0.2s ease;
         -o-transition: padding 0.2s ease, margin 0.2s ease;
        -ms-transition: padding 0.2s ease, margin 0.2s ease;
            transition: padding 0.2s ease, margin 0.2s ease;
}

.tabs li:first-child a {
  z-index: 3;
  -webkit-border-top-left-radius: 8px;
      -moz-border-radius-topleft: 8px;
          border-top-left-radius: 8px;
}

.tabs li:nth-child(2) a {
  z-index: 2;
}

.tabs li:last-child a {
  z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
          box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topright: 8px;
          border-top-right-radius: 8px;
}

ul.tabs li a:hover {
  margin: 5px 0 0 0;
  padding: 10px 0 5px 0;
}

ul.tabs li a.active {
  margin: 0;
  padding: 15px 0;
  background: #9099A2;
  color: white;
  z-index: 4;
  outline: none;
}

.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
} 

.group:after {
  clear: both;
}

.chatConv {
  overflow-y: scroll;
  width: 42vw;
  height: 200px;
  margin: 0 auto;
  background: #9099A2;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
          box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  color: #ffffff;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
}  

#window1 {
}
#window2 {
}
#window3 {
}

.chatMessage {
  padding: 10px 0;
}

#message-to-send {
  box-sizing: border-box;
  background-color: #D5D5D5;
  width: 100%;
  border: none;
  padding: 10px;
  font: 14px/22px Arial, sans-serif;
  margin-bottom: 5px;
  border-radius: 5px;
  resize: none;
}

button {
  float: right;
  color: #c8db18;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #6D7993;
  margin: 0 5px;
}

.user-list {
  width: 22vw;
  margin: 0 auto;
}

.list {
  height: 90%;
  list-style: none;
  padding: 20px;
  background-color: #96858F;
  border-radius: 5px;
} 

/* .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} */


img {
  float: left;
  height: 45px;
  width: 45px;
  margin-right: 20px;
}

.userInfo {
  float: left;
}

.user {
width: 100%;
height: 50px;
margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}


@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
  }
  header, footer {
    height: 8%;
  }
  section, .user-list {
    height: 84%;
  }
  section {
    box-sizing: border-box;
    width: 60%;
    margin: 0 5px;
  }
  ul.tabs {
    width: 100%;
    margin: 0 auto;
  }
  ul.tabs li {	
    float: left;
    width: 33.33%;
  }
  .chatConv {  
    width: 100%;
    height: 65%;
    margin: 0 auto;
  }
  .user-list {
    width: 35%;
  }
  img {
    height: 25px;
    width: 25px;
  }
  .status {
    display: none;
  }
  .name {
    font-size: .85em;
  }
}


@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 80vh;
    margin: 0;
  }
  section {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  ul.tabs {
    width: 98%;
    height: 50px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    background-color: red;
    padding: 0;
    display: flex;
  }
  ul.tabs li {	
    float: left;
    width: 33.33%;
  }
  .user-list {
    display: none;
  }
  p { 
    padding: 5px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  .chatConv {  
    width: 98%;
    height: 200px;
    margin: 0 auto;
  }
  .chatMessage {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  button {
    margin-right: 5px;
  }
}


